{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FatumMarket - Женская одежда{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'market/css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'components/navbar.html' %}
    
    {% include 'components/alerts.html' %}
    <main class="main-content">
        {% block content %}{% endblock %}
    </main>
    
    {% include 'components/footer.html' %}
    
    <script src="{% static 'market/js/price-formatter.js' %}"></script>
    <script src="{% static 'market/js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>


